@import "common";

.menu-active {
  height:100%;
  position: relative;
  .left-nav-bar{
    width: 25%;
    height: 100%;
    background: #f1f1f1;
    float: left;
    .nav-item{
      padding: 15px 0;
      font-size: 14px;
      color: #333;
    }
    .nav-item:hover{
      background: #fff;
    }
  }
  .nav-bar-body{
    float: left;
    width: 75%;
    height:100%;
    overflow: auto;
    background: #ececec;
    .inline{
      width:110px;
      height:110px;
      background: #fff;
      margin: 5%;
    }
  }
}
